:root {
  --color1: #0396a6;
  --color2: #026873;
  --color3: #82d0d9;
  --color4: #535925;
  --color5: #bfba75;
}

.navBar {
  display: flex;
  margin-left: 10px;
  font-size: 32px;
}

.Link {
  padding: 20px;
  color: var(--color4);
  text-decoration: none;
  text-shadow: 2px 2px 5px black;
}
