:root {
  --color1: #417FA6;
  --color2: #273859;
  --color3: #56A1BF;
  --color4: #BFA75E;
  --color5: #7fa644;
  --color6: #D8E0D0;
}
.BackGroundFilter {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  padding: 15px;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

select {
  border-radius: 5px;
  border: 0px;
  color: var(--color2);
  font-size: 16px;
  width: 150%;
  height: 30px;
  box-shadow: 2px 2px 5px black;
}
select:focus {
  outline: none;
}
