:root {
  --color1: #417fa6;
  --color2: #273859;
  --color3: #56a1bf;
  --color4: #bfa75e;
  --color5: #7fa644;
  --color6: #d8e0d0;
}

.BackGroundDetail {
  display: flex;
  flex-direction: row;
}

.Image {
  width: 70vh;
  height: 40vh;
}

.Link button {
  border: 50px;
  width: 20vh;
  height: 5vh;
  margin-top: 2vh;
  margin-left: 99vh;
  border-radius: 25px;
  background-color: var(--color5);
  color: white;
  font-size: 18px;
  font-size: 18px;
  font-weight: bold;
  text-shadow: 1px 1px 1px black;
  box-shadow: 2px 2px 5px white;
  cursor: pointer;
}

.CardDetail {
  display: flex;
  flex-direction: row;
  background-color: white;
  width: 20vh;
  height: auto;
  color: var(--color2);
  opacity: 0.9;
  border-radius: 20px;
  text-align: center;
  align-items: center;
  align-content: center;

  box-shadow: 3px 3px 8px var(--color3);
  margin: 5vh 5vh 5vh 5vh;
}

.Link button:hover {
  background-color: var(--color2);
  color: white;
  text-shadow: 1px 1px 1px black;
  transition: 0.5s;
}
