:root {
  --color1: #0396a6;
  --color2: #026873;
  --color3: #82d0d9;
  --color4: #535925;
  --color5: #bfba75;
}

.BackGround {
  display: flex;
  margin-top: 3%;
}

.Link button {
  border: 50px;
  width: 20vh;
  height: 5vh;
  margin-top: 5vh;
  margin-left: 5vh;
  border-radius: 25px;
  background-color: var(--color5);
  color: var(--color1);
  font-size: 18px;
  font-size: 18px;
  font-weight: bold;  
  text-shadow: 1px 1px 2px black;
  box-shadow: 2px 2px 5px white;
  cursor: pointer;
}

.Card {
  background-color: white;
  color: var(--color2);
  opacity: 0.9;
  border-radius: 20px;
  text-align: center;
  box-shadow: 3px 3px 8px var(--color3);
}

.Link button:hover{
  background-color: var(--color2);
  color: white;
  transition: 0.5s;
}
