:root {
  --color1: #417FA6;
  --color2: #273859;
  --color3: #56A1BF;
  --color4: #BFA75E;
  --color5: #7fa644;
  --color6: #D8E0D0;
}

.BackGround {
  display: flex;
  margin-top: 3%;
}
.Image{
  width: 70vh;
  height: 40vh;
}


.Link button {
  border: 50px;
  width: 20vh;
  height: 5vh;
  margin-top: 2vh;
  margin-left: 99vh;
  border-radius: 25px;
  background-color: var(--color5);
  color: white;
  font-size: 18px;
  font-size: 18px;
  font-weight: bold;  
  text-shadow: 1px 1px 1px black;
  box-shadow: 2px 2px 5px white;
  cursor: pointer;
}

.Card {
  background-color: white;
  color: var(--color2);
  opacity: 0.9;
  border-radius: 20px;
  text-align: center;
  box-shadow: 3px 3px 8px var(--color3);
}

.Link button:hover{
  background-color: var(--color2);
  color: white;
  text-shadow: 1px 1px 1px black;
  transition: 0.5s;
}
