:root {
  --color1: #417fa6;
  --color2: #273859;
  --color3: #56a1bf;
  --color4: #567874;
  --color5: #7fa644;
  --color6: #b6bfc0;
}

body {
  background-image: linear-gradient(
    to right bottom,
    #191d30,
    #2b3c4e,
    #425d6a,
    #5f7f85,
    #83a2a0
  );
  background-repeat: initial;
  background-attachment: fixed;
  background-color: black;
  width: 210vh;
}

.RefreshButton {
  align-items: center;
  align-content: center;
}
.RefreshButton button {
  border: 50px;
  width: 25vh;
  height: 5vh;
  border-radius: 25px;
  margin-left: 45%;
  background-color: var(--color5);
  color: white;
  opacity: 0.8;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 2px;
  text-shadow: 1px 1px 2px black;
  box-shadow: 2px 2px 5px black;
  cursor: pointer;
}

.RefreshButton button:hover {
  background-color: var(--color2);
  color: white;
  transition: 0.5s;
}

.Pagination {
  display: flex;
  list-style: none;
  justify-content: center;
  padding-left: 3px;
  padding-right: 3px;
}

.Pagination button {
  width: 5vh;
  padding: 1px;
  margin: 5px;
  border: 2px solid var(--color1);
  border-radius: 5px;
  color: white;
  background-color: var(--color1);
  font-size: 16px;
  font-weight: bold;
  text-shadow: 1px 1px 2px black;
  box-shadow: 2px 2px 5px black;
  cursor: pointer;
}

.Pagination button:hover {
  background-color: var(--color5);
  border: 2px solid var(--color5);
  transition: 0.5s;
}
input {
  color: var(--color2);
}
