:root {
  --color1: #417fa6;
  --color2: #273859;
  --color3: #56a1bf;
  --color4: #bfa75e;
  --color5: #7fa644;
  --color6: #b6bfc0;
}

.backGroundForm {
  display: flex;
  color: white;
}

.ButtonContainer button {
  border: 50px;
  width: 30vh;
  height: 5vh;
  border-radius: 25px;
  margin: 25px 0px 0px 25px;
  background-color: var(--color5);
  color: white;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 2px;
  text-shadow: 1px 1px 2px black;
  box-shadow: 2px 2px 5px white;
  cursor: pointer;
}

.CardForm {
  display: grid;
  flex-direction: row;
  width: 500px;
  height: 700px;
  background-image: url('../../img/fondo-form.jpg');
  background-size: cover;
  opacity: 0.8;
  margin: 15px 0px 0px 250px;
  border-radius: 30px;
  box-shadow: 5px 5px 8px white;
  text-align: center;
  align-content: center;
}

.CardForm h2 {
  text-align: center;
  font-size: 30px;
  color: var(--color5);
  text-shadow: 2px 2px 3px black;
}
.CardForm input {
  margin-left: 0px;
  width: 300px;
  color: black;
}
.CardForm select {
  width: 300px;
}

.submitButton {
  border: 50px;
  width: 30vh;
  height: 5vh;
  border-radius: 25px;
  margin: 5vh 10vh 0vh 35vh;
  background-color: var(--color5);
  color: white;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 2px;
  text-shadow: 1px 1px 2px black;
  box-shadow: 2px 2px 5px black;
  cursor: pointer;
}

.CardForm label {
  margin-left: 0px;
  color: var(--color4);
  font-size: 20px;
  font-weight: bold;
  text-shadow: 2px 2px 3px black;
}

.valuesSelected {
  display: flex;
  width: 200px;
  font-size: 14px;
  color: white;
  padding: 3px;
  align-content: space-between;
}

oneValuesSelected {
  color: white;
  padding: 1px;
  margin: 1px;
}

.valuesSelectedButton {
  width: 0.5px;
  color: var(--color2);
  background-color: var(--color6);
  border: 1px solid white;
  text-align: center;
  cursor: pointer;
}
.error{
  background-color: var(--color6);
  color:red;
  font-size:bold;
  margin-left: 10vh;
  margin-right: 10vh;
}
