:root {
  --color1: #9aadbf;
  --color2: #6d98ba;
  --color3: #d3b99f;
  --color4: #c17767;
  --color5: #7b7367;
}
/* body {
  background-color: white;
} */

.BackGroundLanding {
  background-image: url('../../img/planet-earth-and-blue-human-eye.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-color: white;
  margin-top: 0%;
  padding: 0%;
  width: 100%;
  height: 100%;
  position: fixed;
}

.Button {
  background-color: var(--color5);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-decoration-line: none;
}

.Text:hover {
  background-color: var(--color3);
  opacity: 0.8;
  color: white;
  text-decoration: none;
}

.Text {
  background-color: var(--color5);
  height: 80px;
  width: 300px;
  border-radius: 48px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--color2);
  font-size: 40px;
  opacity: 0.8;
  margin-top: 3%;
  margin-left: 78%;
}
